
body {margin: 0%; padding: 0%;}

.header-section {
    background-color: #1f2937;
    width: 100%;
    height: 600px;
    
    
}

.header-logo {
    font-size: 25px;
    color: #f9faf8;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding-bottom: 150px;
    
}

li {
    color: #e5e7eb;
    font-family: Helvetica, sans-serif;
    list-style: none;
    font-size: 20px
}

.main-hero-text {
    font-size: 52px;
    color: #f9faf8;
    font-weight: 1000;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;

}

.secondary-hero-text {
    font-size: 28px;
    color: #e5e7eb;
    
}

.button {
    color: #f9faf8;
    background-color: #316df0;
    max-width:fit-content;
    padding: 8px 20px 8px 20px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 9px;
}



.sub-header-picture {
    max-width: 29%;
    height: auto;
    font-weight: bold;
    border-radius: 9px;
}

.information-section {
    background-color: white;
}


.information-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.text {
    font-size: 25px;
    color: #1f2937
}



.image-one {
    max-width: 50%;
    height: auto;
    border-radius: 9px;
}


.image-two {
    max-width: 40%;
    height: auto;
    border-radius: 9px;
    padding: 10px;
    
}


.image-three {
    max-width: 50%;
    height: auto;
    border-radius: 9px;
    padding: 10px;
    padding-bottom: 1
}


.image-four {
    max-width: 40%;
    height: auto;
    border-radius: 9px;
    padding: 10px;
}

.quote-section {
    background-color: #e5e7eb;
    width: auto;
    height: 400px;
}

p {
    font-size: 36px;
    font-style: oblique;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: #1f2937;
}

.author {
    font-size: 28px;
    color: #1f2937;
    font-weight: bold;
}

.footer-section {
    background-color: white;
    
    
}


.call-to-action {
    background-color: #316df0;
    border-radius: 9px;
    width: 60%;
    padding: 60px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 



.call-one {
    font-size: 28px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: white;
}

.call-two {
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
}

.button-two {
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    color: white;
    height: 62%;
    width: 8%;
    border-style: solid;
   padding-top: 5px;
   padding-left: 12px;
   border-radius: 10px;
   font-weight: bold;
   padding-right: 5px;


}


.header {
    display: flex;
    justify-content: space-between;
    
}

.header-logo {
    padding-left: 250px;
    justify-content: center;
    padding-top: 25px;
}

ul {
    display: flex;
    gap: 20px;
    padding-right: 250px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 70px;

}

.subheader {
    display: flex;
}

.subcontainer-one {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    padding-left: 250px;
    gap: 20px;
}

.subheader {
    gap: 170px;
}

.information-header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.photos-and-text {
    display: flex;
    height: auto;
    width: 90%;
    justify-content: center;
    padding-left: 180px;
    align-items: center;
    
}

.text {
    display: flex;
    height: auto;
    width: 50%;
    flex-wrap: wrap;

}
.subcontainer-five {
    padding-bottom: 7px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.footer-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: auto;
    height: 200%;
    
}


